{% extends 'pariwisata/base.html' %}
{% block content %}
<h3 style="text-align: center">About This Project</h3>
<h5 style="text-align: center">Aplikasi ini dibuat untuk mendata informasi pariwisata yang ada di Kediri yang
    akan digunakan untuk mengembangkan Sistem Pakar Rekomendasi Pariwisata di Kediri.
</h5>
<h6 style="text-align: center">Kelompok:
    <br>
    Bayu Chriswoyo (1931733136)
    Mochammad Rizal Priyandana (1931733134)
</h6>
{% endblock %}