{% extends 'pariwisata/base.html' %}
{% block content %}
<h1 align="center">{{ judul }}</h1>
    <h5 align="center"><i>{{ subjudul }}</i></h5>
    <br>
    <div class="col-md-12" align="center">
        <div class="table-responsive">
<table id="bootstrapdatatable" class="table table-bordered table-success" width="100%">
        <thead>
            <th style="text-align:center;" width="300px">Nama Wisata</th>
            <th style="text-align:center;" width="300px">Kategori</th>
            <th style="text-align:center;" width="300px">Alamat</th>
            <th style="text-align:center;" width="245px">Lihat Detail</th>
         </thead>
<tbody>
{% for tmpwisata in wisata %}  
<tr>  
 <td style="text-align: center">{{ tmpwisata.nama_wisata }}</td>  
 <td>
     <h3  style="text-align: center"><a href="">{{ tmpwisata.kategori }}</a></h3>
    {% if tmpwisata.kategori == 'air' %}
    <h6 style="text-align: center">Wisata Air</h6>
    {% elif tmpwisata.kategori == 'alm' %}
    <h6 style="text-align: center">Wisata Alam</h6>
    {% elif tmpwisata.kategori == 'tmn' %}
     <h6 style="text-align: center">Taman</h6>
    {% else %}<h6 style="text-align: center">Monumen</h6>
    {% endif %}
 </td>  
 <td style="text-align: center">{{ tmpwisata.alamat }}</td>

 <td align="center">
    <a class="btn btn-primary" href="{% url 'tmpwisata_detail_view' tmpwisata.id %}">Detail</a> &nbsp;
 </td>
 
</tr>  
{% endfor %} 
</tbody>
     
</table>
    </div>
</div>
<br>
<div class="col-md-12">
    <div class="card-deck">
      <div class="card">
        <img src="static/img/SLG.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Monumen Simpang Lima Gumul</h5>
          <p class="card-text">Monumen Simpang Lima Gumul atau biasa disingkat SLG adalah salah satu bangunan yang menjadi ikon Kabupaten Kediri yang bentuknya menyerupai Arc de Triomphe yang berada di Paris, Perancis.</p>
      </div>
      <div class="card-footer" align="center">
          <a href="#" class="btn btn-primary" >Data Pariwisata</a>
      </div>
  </div>
  <div class="card">
    <img src="static/img/goaselomangleng.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gua Selomangleng</h5>
      <p class="card-text">Gua Selomangleng merupakan objek wisata populer di Kotamadya Kediri yang berada di utara kota dan dilengkapi akses jalan raya yang mulus, tersedia angkutan kota dan dekat dengan universitas serta SMA Negeri di Kota Kediri.</p>
  </div>
  <div class="card-footer" align="center">
          <a href="#" class="btn btn-primary" >Data Pariwisata</a>
      </div>
</div>
<div class="card">
    <img src="static/img/posharang.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gua Maria Pohsarang</h5>
      <p class="card-text">Gua Maria Pohsarang, sering disebut Puhsarang, atau dikenal dengan nama Gua Maria Lourdes Pohsarang, adalah salah satu tempat ziarah agama Katolik yang terletak di kompleks Gereja Pohsarang, di Desa Puhsarang, Kecamatan Semen, Kabupaten Kediri, Provinsi Jawa Timur.</p>
  </div>
  <div class="card-footer" align="center">
          <a href="#" class="btn btn-primary" >Data Pariwisata</a>
      </div>
</div>
</div>
<br>
<br>
<div class="card-deck">
      <div class="card">
        <img src="static/img/air terjun dolo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Air Terjun Dolo</h5>
          <p class="card-text">Air Terjun Dolo adalah salah satu tempat wisata air terjun yang terletak di Dusun Besuki, Desa Jugo, Kecamatan Mojo, Kabupaten Kediri, Jawa Timur. Air terjun ini berada di bagian timur lereng Gunung Wilis, yang memiliki ketinggian 125 meter dan 1800 meter di atas permukaan laut.</p>
      </div>
      <div class="card-footer" align="center">
          <a href="#" class="btn btn-primary" >Data Pariwisata</a>
      </div>
  </div>
  <div class="card">
    <img src="static/img/irenggolo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Air Terjun Irenggolo</h5>
      <p class="card-text">Air Terjun Irenggolo secara administratif terletak di Dusun Besuki, Desa Jugo, Kecamatan Mojo, Kabupaten Kediri, Jawa Timur. Merupakan salah satu air terjun di lereng Gunung Wilis dengan ketinggian sekitar 20-25meter dan kemiringan 40-45° yang telah dibuatkan akses jalan menuju ke lokasi.</p>
  </div>
  <div class="card-footer" align="center">
          <a href="#" class="btn btn-primary" >Data Pariwisata</a>
      </div>
</div>
<div class="card">
    <img src="static/img/ngleyangan.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Air Terjun Ngleyangan</h5>
      <p class="card-text">Objek wisata alam ini berada di Desa Parang Kecamatan Banyakan Kabupaten Kediri, sekitar 20 kilometer dari pusat Kota Kediri. Air Terjun ini juga menjadi salah satu objek wisata alam alternatif yang harus kamu pertimbangkan, sebab air terjun ini memiliki panorama alam dan lingkungan yang masih terjaga keasriannya.</p>
  </div>
  <div class="card-footer" align="center">
          <a href="#" class="btn btn-primary" >Data Pariwisata</a>
      </div>
</div>
</div>
<br>
<br>
<div class="card-deck">
      <div class="card">
        <img src="static/img/tamansekartaji.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Taman Sekartaji</h5>
          <p class="card-text">Taman Sekartaji merupakan salah satu taman kebanggaan warga Kediri. Taman ini menawarkan suasana hijaunya pepohonan di tengah ramainya lalu-lalang aktivitas Kota Kediri. Sempat tak terawat di masa awal pembangunannya, kini taman kota ini telah direvitalisasi dengan konsep yang lebih segar</p>
      </div>
     <div class="card-footer" align="center">
          <a href="#" class="btn btn-primary" >Data Pariwisata</a>
      </div>
  </div>
  <div class="card">
    <img src="static/img/tamanbrantas.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Taman Brantas</h5>
      <p class="card-text">Taman Brantas Kediri, Taman Dekat Sungai untuk Rekreasi dan Wisata Keluarga. Warga masyarakat Kediri, Jawa Timur sekarang ini memiliki lokasi baru untuk bersantai. Namanya adalah Taman Brantas Kediri yang merupakan ruang terbuka hijau yang dilengkapi dengan berbagai macam fasilitas</p>
  </div>
  <div class="card-footer" align="center">
          <a href="#" class="btn btn-primary" >Data Pariwisata</a>
      </div>
</div>
<div class="card">
    <img src="static/img/bdi.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bukit Dhoho Indah Kediri</h5>
      <p class="card-text">Bukit Dhoho Indah atau yang lebih akrab dipanggil dengan nama BDI adalah salah satu wisata alam dengan konsep techno edu park yang kali ini namanya sedang ramai diperbincangkan di sosial media. Bukit Dhoho Indah ini sekarang menjadi salah satu spot foto bagi para anak muda untuk diposting di Instagram mereka nanti.</p>
  </div>
  <div class="card-footer" align="center">
          <a href="#" class="btn btn-primary" >Data Pariwisata</a>
      </div>
</div>
</div>
</div>
{% endblock %}