{% extends 'pariwisata/base.html' %}
{% block content %}
<a href="{% url 'tmpwisata_detail_view' wisata.id %}"><b> -- Back </b> </a>
<h3>About This Project</h3>
<h2>Aplikasi ini dibuat untuk mendata informasi pariwisata yang ada di Kediri yang
    akan digunakan untuk mengembangkan Sistem Pakar Rekomendasi Pariwisata di Kediri.
</h2>
<h3>Kelompok:
    <br>
    Bayu Chriswoyo (1931733136)
    Mochammad Rizal Priyandana (1931733134)
</h3>
{% endblock %}