{% extends 'pariwisata/base.html' %}
{% block content %}
	<h1 align="center">Tambah Data Pariwisata</h1>
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
  <input type="submit" class="btn btn-primary" values="Simpan">
</form>
{% endblock %}
