{% extends 'pariwisata/base.html' %}
{% block content %}
<h2>Peringatan!</h2>
<h3>Apakah anda ingin menghapus data pariwisata : {{ wisata.nama_wisata }}?</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-danger" values="Ya">
    <a class="btn btn-info" href="{% url 'tmpwisata_detail_view' wisata.id %}">Back</a>
</form>
{% endblock %}