{% extends 'pariwisata/base.html' %}
{% block content %}
		<h1 style="color: rgb(17, 13, 77);">{{ wisata.nama_wisata }}</h1>
<p><i>Kategori : </i>
{% if tmpwisata.kategori == 'air' %}
Wisata Air
{% elif tmpwisata.kategori == 'alm' %}
Wisata Alam
{% elif tmpwisata.kategori == 'tmn' %}
Taman
{% else %} Monumen
{% endif %} / {{ wisata.tgl_input }}</p>
		<b>Alamat : </b> {{ wisata.alamat }}<br>
		<b>Fasilitas : </b> {{ wisata.fasilitas }}<br>
		<b>Keterangan : </b> {{ wisata.keterangan }}<br>
		<b>Harga Tiket : </b> {{ wisata.tiket }}<br>
<br>
<a class="btn btn-success" href="{% url 'tmpwisata_edit' wisata.id %}">Edit</a> &nbsp;
<a class="btn btn-danger" href="{% url 'tmpwisata_delete' wisata.id %}">Delete</a> &nbsp;
<a class="btn btn-info" href="{% url 'home_page' %}">Back</a>
{% endblock %}