<html>

<head>
    <style type="text/css">
        @page {
            size: A4 landscape;
            margin: 1cm;
        }
    </style>
</head>

<body>
    <font size="15px" color="#8a2be2">DATA PARIWISATA DI KEDIRI</font>
    <br><br>
    <table border="1">
        <thead>
            <tr>
                <th>Nama Pariwisata</th>
                <th>Kategori</th>
                <th>Fasilitas</th>
                <th>Keterangan</th>
                <th>Harga Tiket</th>
            </tr>
        </thead>
        <tbody>
            {% for tmpwisata in wisata %}
            <tr>
                <td width="30%">{{ tmpwisata.nama_wisata }}</td>
                <td width="15%"> {% if tmpwisata.kategori == 'air' %} Wisata Air
                    {% elif tmpwisata.kategori == 'alm' %} Wisata Alam
                    {% elif tmpwisata.kategori == 'tmn' %} Taman
                    {% else %} Monumen
                    {% endif %} </td>
                <td width="25%">{{ tmpwisata.fasilitas }}</td>
                <td width="25%">{{ tmpwisata.keterangan }}</td>
                <td width="15%"><br>Rp.{{ tmpwisata.tiket }}<br></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>