{% extends 'pariwisata/base.html' %}
{% block content %}
<h3>Edit Data Wisata</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" values="Update">
    <a class="btn btn-info" href="{% url 'tmpwisata_detail_view' wisata.id %}">Back</a>
</form>
{% endblock %}